@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-app-black __line_bg;
}
html,
* {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

.__line_bg {
  background-image: repeating-linear-gradient(
    to top left,
    #f1e4b83e 0%,
    #f1e4b83e 0.01%,
    transparent 0.1%,
    transparent 8.1%
  );
}

@layer components {
  .__c_all {
    @apply flex items-center justify-center;
    /* color: #f5dd8f */
  }
  .__container {
    @apply max-w-[calc(1300px+40px)] px-5 mx-auto;
  }
}

.__gradient1 {
  background: #4f47c8;
  background: linear-gradient(to right, #4f47c8 0%, #c80000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.__gradient2 {
  background: #000000;
  background: linear-gradient(to right, #000000 0%, #c80606 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
